[submodule "Dependencies/NeuralAmpModelerCore"]
	path = Dependencies/NeuralAmpModelerCore
	url = https://github.com/Thomas-Sparber/NeuralAmpModelerCore.git
[submodule "Dependencies/Automated-GuitarAmpModelling"]
	path = Dependencies/Automated-GuitarAmpModelling
	url = https://github.com/Thomas-Sparber/Automated-GuitarAmpModelling.git
[submodule "Dependencies/AudioFile"]
	path = Dependencies/AudioFile
	url = https://github.com/adamstark/AudioFile.git
